.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.9);
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location p{
    line-height: 30px;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.social {
    margin-top: 1rem;
}


h4{
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
}

p{
    font-size: 1.1rem ;
}

@media screen and (max-width: 640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
     
}
@keyframes walk-across {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  .walking-gif {
    position: relative;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    animation: walk-across 10s linear infinite;
  }
  